* {
    box-sizing: border-box;
}

header {

}

main {
    display: flex;
}

form {
    width: 90vw;
    background-color: whitesmoke;
    padding: 0;

    fieldset {        
        display: flex;
        flex-direction: column;
        border: none;
        width: 12.5em;
    }

    legend {
        font-weight: 600;
    }
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0;

    li {
        list-style: none;
        width: 30vw;
        background-color: whitesmoke;
    }

    img {
        width: 12.5em;
        height: 12.5em;
        object-fit: cover;
    }
}

.messager {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 100vh;
    background-color: whitesmoke;

    form {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
        margin: auto 0;

        label {
            display: flex;
            flex-direction: column;
        }

        button {
            width: 80%;
            align-self: center;
        }
    }
}

ul.message-block {
    display: block;
    padding: 0;
}

li.messages {
    background-color: blueviolet;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    width: 100%;
}

