body {
    background:pink;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    color: black;

    display: flex;
    justify-content: center;
}

@media (min-width: 720px) {
    main {
        display: flex;
    
        & .menu {
            width: 15vw;
            /* transform: translateX(0); */
            }
    
            div {
                padding-left: 1em;
            }
    
            form {
                display: flex;
                flex-direction: column;
    
                padding-left: 1em;
            }
        }
        
        .cards {
            /* width: 85vw; */
        
            & ul {
                background-color: pink;
    
                list-style: none;
        
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
    
                gap: 1em;
                padding: 1em;
            }
        
            li {
                width: 20em;
                height: 25em;
                object-fit: cover;
    
                background-color: salmon;
                border-radius: 1em;
                padding: 1em;
    
                display: flex;
                flex-direction: column;
                align-items: center;
    
                & a {
                    color: black;
                    text-decoration: none;
                }
    
                img {
                    width: 15em;
                    height: 15em;
                    object-fit: cover;
    
                    border-radius: 1em;
                }
            }
        }
    
    
    
}

main {
    display: block;
    /* flex-direction: column; */

    & .menu {
        width: 100%;
        background-color: rgb(200, 73, 59);
        padding: 1em 0;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;

        /* transform: translateX(-95%); */
        transition: 300ms ease;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        form {
            display: flex;
            align-items: center;
        }
    }

.cards {            
    
    & ul {
        background-color: pink;

        list-style: none;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        gap: 1em;
        padding: 1em;
    }

    li {
        width: 20em;
        height: 25em;
        object-fit: cover;

        background-color: salmon;
        border-radius: 1em;
        padding: 1em;

        display: flex;
        flex-direction: column;
        align-items: center;

        & a {
            color: black;
            text-decoration: none;
        }

        img {
            width: 15em;
            height: 15em;
            object-fit: cover;

            border-radius: 1em;
        }
    }
}

.menu-visible {
    transform: translateX(0);
}






