* {
    box-sizing: border-box;
    margin: 0;
}

header {
    font-size: 2em;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
}

.menu-opener {
    height: 2em;
    width: 2em;
    background-color: whitesmoke;
    border-radius: 2em;
}

.menu-opener:hover {
    cursor: pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

main {
    display: flex;
}

a {
    color: black;
    text-decoration: none;
}

.menu {
    height: 70vh;
    background-color: rgb(158, 158, 158);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

    position: fixed;
    transform: translateX(-90%);
    transition: 300ms ease;

    padding-top: 1em;

    fieldset {        
        display: flex;
        flex-direction: column;
        border: none;
        width: 12.5em;
    }

    legend {
        font-weight: 600;
    }

    p {
        padding: 1em 0;
    }

    label {
        padding: 0 0.5em;
    }
}

.menu-translate {
    transform: translateX(0);
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin: 0;
    max-width: 80vw;

    li {
        list-style: none;
        width: 20em;
        background-color: whitesmoke;
    }

    img {
        width: 12.5em;
        height: 12.5em;
        object-fit: cover;
    }
}

.messager {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 15vw;
    height: 100vh;
    background-color: whitesmoke;

    form {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 100%;
        margin: auto 0;

        label {
            display: flex;
            flex-direction: column;
        }

        button {
            width: 80%;
            align-self: center;
        }
    }
}

ul.message-block {
    display: block;
    padding: 0;
}

li.messages {
    background-color: blueviolet;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    width: 100%;
}

